.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    background: linear-gradient(98.24deg, #291a10 0%, #0c1b22 100%);
    min-width: 74rem;
}

.medicalHeadShot {
    padding: 6rem;
    background-color: black;
    color: white;
    text-align: center;
}

.medicalHeadShot > p > p {
    font-size: xx-large;
    margin-bottom: 0rem;
}

.bootstrapIcons ,a {
    margin-top: 1rem;
    color: white;
    text-decoration: none;
}

.bootstrapIcons i {
    font-size: 1.5rem;
    margin-right: 0.6rem;
    border: 2px solid white;
    border-radius: 1.5rem;
  }

#icon::before{
    padding: 0.4rem;
}

.bootstrapIcons i:hover{
    background-color:#FC4A1A;
    border-radius: 1.5rem;
    border: 2px solid #FC4A1A;
}

main > .blogPara {
    color: white;
    font-weight: 100;
    padding: 5rem;
}

main > h5{
    color: white;
    align-self:start ;
    margin: 1rem 5rem;
    margin-top: -3rem;
}

main > ol {
    color: #FC4A1A;
    align-self: self-start;
    margin: 1rem 4rem;

}

main > h3{
    color: white;
    align-self:start ;
    margin: 1rem 5rem;
    margin-bottom: -3rem;
}


