body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow-y:hidden ; */
    overflow-x: hidden;
    width: 74rem;
}

header {
    cursor: pointer;
    width: 100%;
}

b {
    margin-left: 1rem;
}

.mainNavBar {
    min-width: 74rem;
    padding: 0.5rem;
    display: flex;
    background: #0D0D0D;
}

.navbar {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 3rem;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;

}

.headerBtn {
    display: flex;
    align-items: baseline;
    padding: 1rem 3rem;
    justify-content: flex-end;
}

.mainNavBar span {
    color: aliceblue;
}

.mainNavBar button,
button {
    background: linear-gradient(98.24deg, #FC4A1A 0%, #F7B733 100%);
    border: 2px solid linear-gradient(98.24deg, #FC4A1A 0%, #F7B733 100%);
    padding: 0.6rem 2.5rem;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    color: white;
}

.banner {
    width: 74rem;
    margin-bottom: -0.5rem;
}

.iconDiv {
    background-color: #18130e;
    min-width: 74rem;
    margin: 0rem;
    padding-bottom: 3rem;
}

.iconDiv p {
    margin: 0rem;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

.text-icon {
    display: flex;
    gap: 7rem;
    padding: 0.5rem 1rem;
}

.iconDiv+div {
    /* background-color: #291a10; */
    background: linear-gradient(98.24deg, #0c1b22 0%, #291a10 100%);
    color: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    min-width: 74rem;
}

.iconDiv+div>div {
    margin-left: 2rem;
}

.iconDiv+div>div>h2 {
    font-size: xx-large;
    font-weight: 900;
}

.iconDiv+div>div>p {
    font-size: small;
    font-weight: 100;
}

.content {
    min-width: 74rem;
    background: linear-gradient(98.24deg, #291a10 0%, #0c1b22 100%);
    color: white;
    margin: -1.5rem 0rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.content>div>div p {
    font-size: xx-large;
}

.icon-1 {
    display: flex;
    gap: 1rem;
    place-items: center;
    margin: 1rem 1rem 1rem 0rem;
}

.icon-1  h3 {
    margin:0.5rem 0rem;
}

.hiwDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    min-width: 74rem;
    background: linear-gradient(98.24deg, #0D0D0D 0%, #0c1b22 100%);
    color: white;
    padding-bottom: 3rem;
}

.hiwDiv>div>p,
.reviewDiv>div>p{
    font-size: xx-large;
    margin: 0.5rem;
    
}

.worksImage {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.worksImage img {
    margin-top: 2rem;
    justify-content: space-between;
    width: 15rem;
    display: flex;
}

.reviewDiv {
    background: linear-gradient(98.24deg, #291a10 0%, #0c1b22 100%);
    color: white;
    margin-top: -1rem;
    display: flex;
    min-width:74rem;
    padding-top: 1rem;
}

.reviewDiv button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: x-large;
    margin: 0.15rem;
}

.carousel{
    align-self: center;
    margin-left:10rem;
    
} 

button:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
}

.next{
    border: 1px solid black;
    background: linear-gradient(98.24deg, #FC4A1A 0%, #F7B733 100%);
    color: white;
}

.round {
    border-radius: 60%;
    height: 30%;
}

.profileContainer{
    padding-top:1rem ;
    margin-top: -1rem;
    display: flex;
    width: 74rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(98.24deg, #291a10 0%, #0c1b22 100%);
    overflow-x:auto;
}

.profileDiv{
    color: white;
    background-color: #3d352e;
    width: 24.7rem;
    margin: 1rem;
    padding: 1rem;
    border-radius:1rem;
    border:1px solid white
}

.pricingDiv{
    background: linear-gradient(98.24deg, #0c1b22 0%, #291a10 100%);
    color: white;
    margin-top:-2rem;
    padding-top: 2rem;
    min-width: 74rem;
}

.pricingDiv>div>p{
    font-size: xx-large;
    margin: 0.5rem;
    text-align: center;
}

.pricingDiv>div+div{
    display: flex;
}

.pricingDiv ul {
    list-style-image:url("../image/check-circle.png");
}

.bottomOfPricingDiv{
    margin: 3rem 7rem;
    width: 60rem;
}

.questionDiv{
    background: linear-gradient(98.24deg, #291a10 0%, #0c1b22 100%);
    text-align: center;
    padding: 1rem;
    color: white;
    min-width: 74rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionDiv a {
    color: white;
    text-decoration: none;
    margin: 0rem;
}


.questionDiv > p{
    font-size: xx-large;
    color: white;
    text-align: center;
}

.questionDiv > p + p{
    font-size: large;
    margin: 0rem;
}

.cardCard-body {
    background: linear-gradient(98.24deg, #291a10 0%, #0c1b22 100%);
    color: white;
}

.question1{
    border: 1px solid orange;
    border-radius: 1rem;
    padding: 1rem ;
    margin: 0.5rem 1rem;
    width: 50rem;
    font-size: larger;    
}

nav li :hover{
    font-size: large;
}

.getHeadshotDiv{
    padding: 2.7rem;
    margin: 3rem 7rem;
    width: 60rem;
    background: linear-gradient(98.24deg,#F7B733 0%, #FC4A1A 100%);
    border-radius: 1rem;
    text-align: center;
    color: white;
}

.getHeadshotDiv > p {
    font-size: xx-large;
}

.getHeadshotDiv .getHeadshotDivBtn{
    margin-top: 2rem;
    background:white;
    text-transform: uppercase;
    color: darkorange;
    border: 1px solid white;
    font-weight: bolder;
}

footer > div {
    display: flex;
    background: linear-gradient(98.24deg, #0c1b22 0%, #291a10 100%);
    padding: 4rem 1rem;
    color: white;
    /* gap: 6rem; */
    justify-content: space-around;
    min-width:74rem;
    cursor: pointer;
}

footer > div + div {
    justify-content: center;
    text-align: center;
}

footer img {
    width: 15rem;
    padding: 1rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style: none;
    padding: 0 0.4rem;
}

footer > div  div > ul :hover{
    font-size: large;
}

footer a :hover {
    color: #FC4A1A;
    font-size:large ;
}

